#fps_config_row td,
#fps_config_row th{
    padding: 5px;
    border-width: 0;
}

#fps_config_row {
    padding: 10px;
    display: none;
}

#fps_config_tr, #fps_config_tr td {
    padding: 0;
}

#fps_config_tr th {
    font-family: inherit;
    color: dimgray
}

#fps_config_row {
    margin: 10px 15px 20px 12px;
    padding: 12px;
    -moz-box-shadow: -3px 3px 5px 3px #E4E4E4;
    -webkit-box-shadow: -3px 3px 5px 3px #E4E4E4;
    box-shadow: -3px 3px 5px 3px #E4E4E4;
}

#fps-tr-settings th, 
#fps-tr-settings td
 {
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#fps-tr-settings th {
    padding: 0 0 8px;
}
#fps-tr-settings td {
    padding: 0;
}

#favorites-plugins-install-via-url td,
#favorites-plugins-install-via-url th {
    border-bottom: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table.fps-table th,
table.fps-table td {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    vertical-align: middle;
    border-bottom: 0;
    webkit-box-shadow: none !important;
    box-shadow: none !important
}